<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spring Boot - AJAX POST GET Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" 
  integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
  
</head>
 
<body> 
<div class="container"> 
<div >
  <h3>Ejercicio propuesto Express-Jquery</h3>
  <hr>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Paso 1</li>
        <li class="breadcrumb-item">Paso 2</li>
        <li class="breadcrumb-item active" aria-current="page">Paso 3</li>
        <li class="breadcrumb-item">Total</li>
      </ol>
    </nav>    
    <form id="customerForm" id="customerForm" method="post" action="/tototal">
      <div class="my-4">
        <input type="radio" name="pago" value="credito">
        <label>Targeta de crédito</label><br>
        <input type="radio" name="pago" value="efectivo">
        <label>Efectivo</label><br>
        
      </div>
      <br>
      <button type="submit" class="btn btn-primary mb-4">Siguiente</button>
    </form>
  </div>
  
  
</div>  
</div>
</body>
</html>